@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-right">
    <a asp-controller="BankAccounts" asp-action="Index">Bank Accounts Page</a> |
    <a asp-controller="MoneyTransactions" asp-action="Index">Money Transactions Page</a>
</div>*@

<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">Welcome to SharpBank</h1>
        <h3>Faster. Secure. Easier.</h3>
        <p>Implemented using ASP.NET, MVC and EFCore</p>
    </div>
</div>
